@import "./commons.scss";


.container {
    display: flex;
    flex-direction: row;
}


.SideBarMenu {
    background-color: #222;
    color: white;
    //position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    @include transition(width);

    &.expanded {
        width: 220px;
    }
    
    &.collapsed {
        width: 54px;
    }

    .menuButton {
        display: flex;
        justify-content: right;

        .barButton {
            cursor: pointer;
            border: none;
            background-color: transparent;
            color: white;
            padding: 10px;
            width: 68px;
        }

    }



}